<header class="p-4">
    <div class="container">
      <div class="d-flex flex-wrap align-items-start justify-content-start justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
          <a href="https://www.ai2.upv.es/"><img src="/images/logoai2.png" alt="Descripción de la imagen" width="100" height="auto"></a> 
          <img src="https://www.ai2.upv.es/wp-content/uploads/2021/09/Recurso-1-300x95.png" alt="Descripción de la imagen" width="200" height="auto"> 
          <!--<li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 ">Features</a></li>
          <li><a href="#" class="nav-link px-2 ">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 ">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 ">About</a></li>-->
        </ul>

      </div>
      
    </div>
  </header>